CONFIG_NINLIL_ENABLE_PRIVATE_PA_S1_EDHOC=y
CONFIG_NINLIL_ENABLE_PRIVATE_PA_S2_EDHOC_CRYPTO=y
CONFIG_NINLIL_ENABLE_PRIVATE_PA_S2B1_EDHOC_P256=y
CONFIG_MBEDTLS_CCM_C=y
CONFIG_MBEDTLS_CHACHA20_C=y
CONFIG_MBEDTLS_POLY1305_C=y
CONFIG_MBEDTLS_CHACHAPOLY_C=y
CONFIG_MBEDTLS_ECP_C=y
CONFIG_MBEDTLS_ECDH_C=y
CONFIG_MBEDTLS_ECP_DP_SECP256R1_ENABLED=y
